body {
  background-color: #80bd9e;
  margin: 0;
  font: "Times New Roman";
}

.header {
  background-color: #f98866;
  color: #2a3132;
  display: flex;
  display: inline-block;
  flex-direction: row;
  width: 100%;
  color: #505160;
}

.nav {
  display: flex;
  padding: 0px 18px;
  font-size: 15pt;
}

.user-name {
  float:right;
  padding: 0 15px;
  font-size: 17pt;
  margin: 5px;
}

.icon {
  float: inline right;
  height: 20px;
  width: 20px;
  padding: 0 10px;
}

h1 {
  margin-left: 25px;
}

.admin-icon {
  width: 20px;
  height: 20px;
}

.drop-down-icon {
  width: 10px;
  height: 10px;
}

.brand-logo {
  display: flex;
  flex: 2; 
  position: absolute;
  max-width: 200px;
  padding: 0 10px;
  right: 0;
}

/*Cards section starting at Shares*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5px;
}

.card{
  border: solid 2px #89da59;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.2);
  margin: 5px 3px;
  position: relative;
}

.card-text {
  color: #505160;
  padding: 8px;
}

.card-top {
  position: relative;
}

.views{
  margin: 0 10px;
  position: absolute;
  right: 0;
  text-align: center;
  color: #ffffff;
}

.share-icon {
  height: 60px;
  margin: 10px;
  position: absolute;
  top: 10px;
}

.cardText {
  padding: 10px;
}

.date {
  font-size: 9pt;
}

.author-image {
  height: 200px;
  width: 300px;
  position: relative;
}

#image-top1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
  background-image: url('Images/book.jpg');
  background-size: contain;
  position: relative;
  z-index: 1;
}

h4 {
  position: relative;
  top: 0;
  right: 0;
}

.website-box {
  height: 40px;
  width: 210px;
  text-align: center;
  background-color: rgba(20,27,28,0.1);
  padding: 5px;
  word-wrap: break-word;
  margin: 20px;
}

header h4:hover {
  color: #ffffff;
  font-weight: 200;
}

nav p:hover {
  color: #ffffff;
  font-weight: 200;
}

/*media query*/
@media (max-width: 768px) {
  nav {
    margin-right: 0;
  }
  }
}